<div id="contents">
    <main>

        <%= render 'shared/search_form' %>

        <!-- テーブル・ここから -->
        <section>
            <% if flash[:warning] %>
                <p class="warning"><%= flash[:warning] %></p>
            <% else %>
                <p class="announce">放送エリア、ジャンル、放送日、キーワードを入力して検索してください</p>
            <% end %>
        </section>
        <!-- テーブル・ここまで -->

    </main>
</div>
<!--/#contents-->